@model IEnumerable<ProyInstitutoFINAL.Models.Alumno>

@{
    ViewBag.Title = "BuscarAlumnoPorId";
}

<h2>BuscarAlumnoPorId</h2>

@using (Html.BeginForm())
{
    @Html.ActionLink("Agregar Alumno", "AgregarAlumno")
    <br />

    <br />





    <div>
        Nombre de articulo: @Html.TextBox("codalu")
        <button class="btn btn-primary">Consultar</button>
    </div>

}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codalu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomalu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codcar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_ins)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codalu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomalu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codcar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_ins)
            </td>
            <td>
                @Html.ActionLink("Edit", "ActualizarAlumno", new { codalu = item.codalu }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
